body {
    background-color: #1a2035; 
    color: white;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}
.login-button {
    background-color: #ff6b6b; 
    padding: 8px 20px;
    border-radius: 20px; 
}

.search-button {
    border: 2px solid white;
    padding: 8px 20px;
    border-radius: 20px;
}