* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a2035; 
    color: white;
    font-family: sans-serif;
}

nav {  
    position: absolute;
    top: 0;
    width: 100%;    
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    background-color: transparent;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}
.login-button {
    background-color: goldenrod; 
    padding: 8px 20px;
    border-radius: 20px; 
}

.admin-buttom {
    border: 2px solid white;
    padding: 8px 20px;
    border-radius: 20px;
}

.banner {
    height: 80vh;
    background-image: 
    linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0)),
    url('/static/images/damien-creatz-navtPflashE-unsplash.jpg');
    background-size: cover;
    background-position: center;

    display: flex;             
    justify-content: center;    
    align-items: center;        
    text-align: center;

    padding-bottom: 400px;
}
.banner-content{
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7); 
}

.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.login-form {
    background-color: #243046;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5); 
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: #1a2035; 
    color: white;
}

.login-form button {
    background-color: goldenrod;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-form label {
    margin-bottom: 10px;
}

.login-form p a {
    color: white;
}

footer {
    background-color: #1a2035;
    color: white;
    text-align: center;
    padding: 30px 10px;
    font-size: 30px; 
    margin-top: 5px; 
    opacity: 0.7;
}

.dashboardMessage{
    display: flex;             
    justify-content: center;    
    text-align: center;
    padding-top: 100px;      
}

.error-message {
    color: red;         
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;   
    font-weight: bold;
}

.table-container {
    padding: 25px;
    max-width: 1000px;
    margin: 0 auto;
}


.table-title {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse; 
    background-color: #243046; 
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    overflow: hidden; 

}

.styled-table thead tr {
    background-color: goldenrod; 
    text-align: center;
}

.styled-table th, 
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #1a2035; 
}

.dashboard-button{

    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    background-color: goldenrod; 
    padding: 8px 20px;
    border-radius: 20px; 
}


.car-grid {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: left;
    margin-top: 30px;
}

.car-card {
    background-color: rgb(184, 139, 28);
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}


.car-info {
    padding: 20px;
    color: white;
    text-align: center;
}

.status {
    color: black; 
    font-weight: bold;
    margin-bottom: 15px;
}

.rent-button {
    background-color: navy;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
}

.table-container,
.dashboard-container {
    max-width: 1200px; 
    margin: 0 auto;    
    padding: 40px;     
    padding-top: 120px; 
}

.table-container {
    overflow-x: auto; 
}

.dashboard-container h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.profile-section, 
.rental-section {
    background-color: #243046; 
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 40px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.profile-section p{
    padding: 5px;
}
.dashboard-button {
    text-align: center;
    margin-bottom: 40px;
}

.dashboard-button-container {
    text-align: center;
    margin-bottom: 40px;
}

.disabled-button {
    background-color: #57606f; 
    color: #ccc;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: not-allowed; 
    font-weight: bold;
}

.search-container {
    background-color: #293650;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.search-container input[type="search"] {
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1; 
}

.search-container label {
    color: white;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.search-container button {
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.profile-card ul{
    list-style: none;
    margin-top: 10px;
}

.profile-card li {
    margin-bottom: 10px;
}

/*added by sergio for payment screen(recycled login form)*/
.payment-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.payment-form {
    background-color: #243046;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5); 
}

.payment-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.payment-form input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: #1a2035; 
    color: white;
}

.payment-form button {
    background-color: goldenrod;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.payment-form label {
    margin-bottom: 10px;
}

.payment-form p a {
    color: white;
}

.payment-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}

.payment-option input {
    margin-right: 10px;
}

.payment-note {
    color: gray;
    margin-bottom: 15px;
}

.card-icons img {
    width: 40px;
    margin-left: 5px;
}

.payment-details {
    display: flex;
    flex-direction: column;
    background: #243046;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.hidden {
    display: none !important;
}

.pop {
    visibility: hidden;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #243046;
    color: white;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    font: sans-serif;
    max-width: 400px;
    justify-content: right bottom;

    animation: HP 3s forwards;
}

@keyframes HP {
    0%, 99%{
        visibility: visible;
        opacity: 1;
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
}